@font-face {
  font-family: 'robotoregular';
  src: url('fonts/Roboto-Regular-webfont.eot');
  src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: robotoregular;
  font-size: 2.5rem;
  background-color: #292929;
}
header {
  color: #ffc94d;
  text-shadow: 5px 5px 1px #fff1d1;
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
[class^="dhamala"] {
  background-image: url('dhamala.png');
  background-size: cover;
  margin: 2rem;
  height: 18.75rem;
  width: 18.75rem;
  border-style: solid;
  border-width: 5px;
  border-color: #ffc94d;
}
.dhamala-blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.dhamala-brightness {
  -webkit-filter: brightness(2);
  filter: brightness(2);
}
.dhamala-contrast {
  -webkit-filter: contrast(2);
  filter: contrast(2);
}
.dhamala-grayscale {
  -webkit-filter: grayscale(.8);
  filter: grayscale(.8);
}
.dhamala-hue-rotate {
  -webkit-filter: hue-rotate(25deg);
  filter: hue-rotate(25deg);
}
.dhamala-invert {
  -webkit-filter: invert(75%);
  filter: invert(75%);
}
.dhamala-opacity {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}
.dhamala-saturate {
  -webkit-filter: saturate(15%);
  filter: saturate(15%);
}
.dhamala-sepia {
  -webkit-filter: sepia(.75);
  filter: sepia(.75);
}
